[Unit]
Description=Lighttp port %I
After=syslog.target network.target

[Service]
PIDFile=/var/run/lighttpd.pid
EnvironmentFile=-/etc/sysconfig/lighttpd
ExecStart=/usr/sbin/lighttpd -D -f /etc/lighttpd/%i.conf

[Install]
WantedBy=multi-user.target

